[Desktop Entry]
Name=cschem
GenericName=CSchem circuit designer
Comment=
Exec=cschem %f
Terminal=false
Type=Application
Categories=Scientific
Icon=cschem
MimeType=application/cschem-cschem
