[Desktop Entry]
Name=cpcb
GenericName=CPCB pcb layout
Comment=
Exec=cpcb %f
Terminal=false
Type=Application
Categories=Scientific
Icon=cpcb
MimeType=application/cschem-cpcb
